# Brooker.Jade_ assignment 1_ CIS 5357

In [2]:
def employee(name, salary=1337):
    """
    Prints employee's name and salary. If salary not provided, defaults to $9000.
    """
    print(f"Employee Name: {name}")
    print(f"Salary: ${salary}")

In [3]:
def both_ends(s):
    """
    Returns first two and last two letters of a word. If word is less than two letters, returns empty string.
    """
    if len(s) < 2:
        return ""
    return s[:2] + s[-2:]

In [4]:

def iterate_lists(list1, list2):
    """
    Iterates through two lists, printing items from list1 in order and list2 in reverse.
    """
    for item1, item2 in zip(list1, reversed(list2)):
        print(f"List1: {item1}, List2: {item2}")


def convert_dict_to_list(data):
    """
    Converts a dictionary with values as lists into a list of lists.
    """
    return [[key] + value for key, value in data.items()]

In [5]:
if __name__ == "__main__":
    # Test employee function
    print("\n  Emp Test function :")
    employee("Jade", 4200)
    employee("Brooker")

  Emp Test function :
Employee Name: Jade
Salary: $4200
Employee Name: Brooker
Salary: $1337