# Step 1: importing all necessary libraries

In [5]:

import pandas as pd
import sklearn as sk
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Step 2: import the dataset

In [7]:
fin = pd.read_csv('Finance_data.csv')

# Step 3: write the code for viewing the first few rows of the dataset

In [9]:
print(fin.head())

   BranchID Application_Date        Loan_SubType Loan_Purpose  Loan_Type  \
0       103         6/1/2022      Auto Refinance      VEHICLE  Refinance
1       103         6/1/2022      Auto Refinance      VEHICLE  Refinance
2       604         6/1/2022  Other Secured Loan      VEHICLE  Refinance
3       810         6/1/2022      Auto Refinance      VEHICLE  Refinance
4       682         6/1/2022      Auto Refinance      VEHICLE  Refinance

   Requested_LoanAmount  Approved_LoanAmount  Funded_LoanAmount Loan_Status  \
0               25775.0             25961.98           25961.98    APPROVED
1               25775.0             25961.98           25961.98    APPROVED
2                   2.0               228.00             228.00    APPROVED
3               21344.6             21377.60                NaN    APPROVED
4                 568.0              7641.36            7641.36    APPROVED

  Declined Date  ...    Loan_Class         Loan_Tier Loan_Term Monthly_Income  \
0           NaN  ...     3 YR USED               NaN        66            5.0
1           NaN  ...     3 YR USED  1.tov-Vehicle T3        66            5.0
2           NaN  ...  6-10 YR USED  1.tov-Vehicle T2        36            8.0
3           NaN  ...     2 YR USED  1.tov-Vehicle T3        66            6.0
4           NaN  ...  6-10 YR USED  1.tov-Vehicle T3        36            2.0

  Monthly_debt  DTI_Ratio Monthly_LoanPayment  Age_of_Employment_in_Months  \
0          1.0     32.542              480.73                           14
1          1.0     32.542              480.73                           45
2          2.0     26.861              646.37                           52
3          1.0     20.326                0.00                           12
4          1.0     46.422              252.87                          269

   Age_of_Employment_in_Years Denial Reasons
0                        1.17            NaN
1                        3.75            NaN
2                        4.33            NaN
3                        1.00            NaN
4                       22.42            NaN

[5 rows x 29 columns]

# Step 4: drop unwanted variables

In [11]:
fin2 = ['Loan_Purpose', 'BranchID', 'Application_Date', 'Declined Date', 
                      'Deciding Date', 'Approved Date', 'Funded Date', 'Denial Reasons']
fin = fin.drop(columns=fin2)

# Step 5: viewing statistical information about the dataset

# Summary: This provides an overview of the numerical variables in the dataset.
# We can see the mean, standard deviation, quartiles, etc., for each numeric column.

In [13]:
print("\n Descriptive statistics: ")
print(fin.describe())

 Descriptive statistics:
       Requested_LoanAmount  Approved_LoanAmount  Funded_LoanAmount  \
count           1013.000000           1013.00000         774.000000
mean            9997.712053          16544.08311       16612.772416
std            16022.718415          17120.14254       17521.820750
min                1.000000              3.00000           2.000000
25%               18.000000           2139.13000        2113.200000
50%              165.000000          11728.10000       11943.330000
75%            16635.490000          27281.47000       27075.827500
max            87379.120000          88465.41000       88465.410000

       Credit_Score  Value_ofAsset  LTV_Ratio    Loan_Term  Monthly_Income  \
count    980.000000    1013.000000     1013.0  1013.000000     1013.000000
mean     697.791837   29748.490681        0.0    55.320829       10.494255
std       52.401993   14910.917280        0.0    15.022011       67.625338
min      620.000000       0.000000        0.0    12.000000        1.000000
25%      656.000000   20550.000000        0.0    46.000000        3.000000
50%      690.000000   27650.000000        0.0    61.000000        4.000000
75%      732.000000   37475.000000        0.0    66.000000        7.000000
max      850.000000   93695.000000        0.0    72.000000      996.250000

       Monthly_debt    DTI_Ratio  Monthly_LoanPayment  \
count   1013.000000  1013.000000          1013.000000
mean     227.149516    29.679517           403.931955
std      333.373591    15.623288           333.836206
min        1.000000     1.003000             0.000000
25%        1.000000    19.838000           118.730000
50%        2.000000    29.048000           389.080000
75%      519.960000    38.968000           603.790000
max      998.720000   307.045000          1810.770000

       Age_of_Employment_in_Months  Age_of_Employment_in_Years
count                  1013.000000                 1013.000000
mean                     80.232971                    6.685982
std                      89.499084                    7.458336
min                       0.000000                    0.000000
25%                      18.000000                    1.500000
50%                      48.000000                    4.000000
75%                     108.000000                    9.000000
max                     600.000000                   50.000000

# Step 6: Check for missing data

In [15]:
print("\nMissing data information:")
print(fin.isnull().sum())

Missing data information:
Loan_SubType                     0
Loan_Type                        0
Requested_LoanAmount             0
Approved_LoanAmount              0
Funded_LoanAmount              239
Loan_Status                      0
Borrower_Type                    0
Applicant_State                  0
Credit_Score                    33
Type_ofVehicle                   0
Value_ofAsset                    0
LTV_Ratio                        0
Loan_Class                       0
Loan_Tier                      130
Loan_Term                        0
Monthly_Income                   0
Monthly_debt                     0
DTI_Ratio                        0
Monthly_LoanPayment              0
Age_of_Employment_in_Months      0
Age_of_Employment_in_Years       0
dtype: int64

# Step 7: Handle missing data (categorical vs. numeric)
# Drop rows with missing values in 'Loan Tier' (categorical)

In [17]:

fin = fin.dropna(subset=['Loan_Tier'])

In [18]:
print(fin.columns)

Index(['Loan_SubType', 'Loan_Type', 'Requested_LoanAmount',
       'Approved_LoanAmount', 'Funded_LoanAmount', 'Loan_Status',
       'Borrower_Type', 'Applicant_State', 'Credit_Score', 'Type_ofVehicle',
       'Value_ofAsset', 'LTV_Ratio', 'Loan_Class', 'Loan_Tier', 'Loan_Term',
       'Monthly_Income', 'Monthly_debt', 'DTI_Ratio', 'Monthly_LoanPayment',
       'Age_of_Employment_in_Months', 'Age_of_Employment_in_Years'],
      dtype='object')

# Step 8: Verify missing data resolved

In [20]:
print("\nMissing data information after handling:")
print(fin.isnull().sum())

Missing data information after handling:
Loan_SubType                     0
Loan_Type                        0
Requested_LoanAmount             0
Approved_LoanAmount              0
Funded_LoanAmount              207
Loan_Status                      0
Borrower_Type                    0
Applicant_State                  0
Credit_Score                    19
Type_ofVehicle                   0
Value_ofAsset                    0
LTV_Ratio                        0
Loan_Class                       0
Loan_Tier                        0
Loan_Term                        0
Monthly_Income                   0
Monthly_debt                     0
DTI_Ratio                        0
Monthly_LoanPayment              0
Age_of_Employment_in_Months      0
Age_of_Employment_in_Years       0
dtype: int64

# Step 9: Label encoding for categorical variables

In [22]:

cate = ['Loan_SubType', 'Loan_Type', 'Loan_Status',
                        'Borrower_Type', 'Applicant_State', 'Type_of_Vehicle',
                        'Loan_Class']

for col in cate:
    le = LabelEncoder()
    if col in fin.columns:
        fin[col + '_Cat'] = le.fit_transform(fin[col])
    else:
        print(f"Column '{col}' does not exist in the dataframe.")

Column 'Type_of_Vehicle' does not exist in the dataframe.

# Step 10: Examine encoded categorical variables

In [24]:
print("\nencoded categorical variables:")
for col in cate:
    if col + '_Cat' in fin.columns:  
        print(fin[[col + '_Cat', col]].head())

encoded categorical variables:
   Loan_SubType_Cat        Loan_SubType
1                 0      Auto Refinance
2                 3  Other Secured Loan
3                 0      Auto Refinance
4                 0      Auto Refinance
5                 0      Auto Refinance
   Loan_Type_Cat  Loan_Type
1              5  Refinance
2              5  Refinance
3              5  Refinance
4              5  Refinance
5              5  Refinance
   Loan_Status_Cat Loan_Status
1                0    APPROVED
2                0    APPROVED
3                0    APPROVED
4                0    APPROVED
5                0    APPROVED
   Borrower_Type_Cat Borrower_Type
1                  0             P
2                  0             P
3                  0             P
4                  0             P
5                  0             P
   Applicant_State_Cat Applicant_State
1                   11              TX
2                   11              TX
3                   11              TX
4                   11              TX
5                   11              TX
   Loan_Class_Cat    Loan_Class
1               6     3 YR USED
2              12  6-10 YR USED
3               4     2 YR USED
4              12  6-10 YR USED
5               6     3 YR USED

# Step 11: Perform label encoding for all other categorical columns

In [26]:
# Step 11: Perform label encoding for all other categorical columns
for col in cate[1:]:  
    if col in fin.columns:  # Check if the column exists in the dataframe
        le = LabelEncoder()
        fin[col + '_Cat'] = le.fit_transform(fin[col])

# To see the category name and assigned code for all encoded categorical variables
print("\nCate names and assigned codes for all encoded categorical variables:")
for col in cate:
    if col + '_Cat' in fin.columns:  # Check if the encoded column exists in the dataframe
        print(fin[[col + '_Cat', col]].head())

Cate names and assigned codes for all encoded categorical variables:
   Loan_SubType_Cat        Loan_SubType
1                 0      Auto Refinance
2                 3  Other Secured Loan
3                 0      Auto Refinance
4                 0      Auto Refinance
5                 0      Auto Refinance
   Loan_Type_Cat  Loan_Type
1              5  Refinance
2              5  Refinance
3              5  Refinance
4              5  Refinance
5              5  Refinance
   Loan_Status_Cat Loan_Status
1                0    APPROVED
2                0    APPROVED
3                0    APPROVED
4                0    APPROVED
5                0    APPROVED
   Borrower_Type_Cat Borrower_Type
1                  0             P
2                  0             P
3                  0             P
4                  0             P
5                  0             P
   Applicant_State_Cat Applicant_State
1                   11              TX
2                   11              TX
3                   11              TX
4                   11              TX
5                   11              TX
   Loan_Class_Cat    Loan_Class
1               6     3 YR USED
2              12  6-10 YR USED
3               4     2 YR USED
4              12  6-10 YR USED
5               6     3 YR USED

# Step 12: Save preprocessed data to a new CSV file

In [28]:
fin.to_csv('milestone1.csv', index=False)

# Step 13: Count records in the new CSV file

In [30]:
num_records = len(fin)
print(f"\nNumber of records in 'milestone1.csv': {num_records}")

Number of records in 'milestone1.csv': 883