In [22]:
import numpy as np
import pandas as pd

In [24]:
dataset = pd.read_csv('Finance_data.csv')
print(dataset.head())

   BranchID Application_Date        Loan_SubType Loan_Purpose  Loan_Type  \
0       103         6/1/2022      Auto Refinance      VEHICLE  Refinance
1       103         6/1/2022      Auto Refinance      VEHICLE  Refinance
2       604         6/1/2022  Other Secured Loan      VEHICLE  Refinance
3       810         6/1/2022      Auto Refinance      VEHICLE  Refinance
4       682         6/1/2022      Auto Refinance      VEHICLE  Refinance

   Requested_LoanAmount  Approved_LoanAmount  Funded_LoanAmount Loan_Status  \
0               25775.0             25961.98           25961.98    APPROVED
1               25775.0             25961.98           25961.98    APPROVED
2                   2.0               228.00             228.00    APPROVED
3               21344.6             21377.60                NaN    APPROVED
4                 568.0              7641.36            7641.36    APPROVED

  Declined Date  ...    Loan_Class         Loan_Tier Loan_Term Monthly_Income  \
0           NaN  ...     3 YR USED               NaN        66            5.0
1           NaN  ...     3 YR USED  1.tov-Vehicle T3        66            5.0
2           NaN  ...  6-10 YR USED  1.tov-Vehicle T2        36            8.0
3           NaN  ...     2 YR USED  1.tov-Vehicle T3        66            6.0
4           NaN  ...  6-10 YR USED  1.tov-Vehicle T3        36            2.0

  Monthly_debt  DTI_Ratio Monthly_LoanPayment  Age_of_Employment_in_Months  \
0          1.0     32.542              480.73                           14
1          1.0     32.542              480.73                           45
2          2.0     26.861              646.37                           52
3          1.0     20.326                0.00                           12
4          1.0     46.422              252.87                          269

   Age_of_Employment_in_Years Denial Reasons
0                        1.17            NaN
1                        3.75            NaN
2                        4.33            NaN
3                        1.00            NaN
4                       22.42            NaN

[5 rows x 29 columns]

In [26]:
dataset.drop(['Loan_Purpose', 'BranchID', 'Application_Date', 'Declined Date', 'Deciding Date', 'Approved Date', 'Funded Date', 'Denial Reasons'], axis=1, inplace=True)

In [28]:
print(dataset.describe())

       Requested_LoanAmount  Approved_LoanAmount  Funded_LoanAmount  \
count           1013.000000           1013.00000         774.000000
mean            9997.712053          16544.08311       16612.772416
std            16022.718415          17120.14254       17521.820750
min                1.000000              3.00000           2.000000
25%               18.000000           2139.13000        2113.200000
50%              165.000000          11728.10000       11943.330000
75%            16635.490000          27281.47000       27075.827500
max            87379.120000          88465.41000       88465.410000

       Credit_Score  Value_ofAsset  LTV_Ratio    Loan_Term  Monthly_Income  \
count    980.000000    1013.000000     1013.0  1013.000000     1013.000000
mean     697.791837   29748.490681        0.0    55.320829       10.494255
std       52.401993   14910.917280        0.0    15.022011       67.625338
min      620.000000       0.000000        0.0    12.000000        1.000000
25%      656.000000   20550.000000        0.0    46.000000        3.000000
50%      690.000000   27650.000000        0.0    61.000000        4.000000
75%      732.000000   37475.000000        0.0    66.000000        7.000000
max      850.000000   93695.000000        0.0    72.000000      996.250000

       Monthly_debt    DTI_Ratio  Monthly_LoanPayment  \
count   1013.000000  1013.000000          1013.000000
mean     227.149516    29.679517           403.931955
std      333.373591    15.623288           333.836206
min        1.000000     1.003000             0.000000
25%        1.000000    19.838000           118.730000
50%        2.000000    29.048000           389.080000
75%      519.960000    38.968000           603.790000
max      998.720000   307.045000          1810.770000

       Age_of_Employment_in_Months  Age_of_Employment_in_Years
count                  1013.000000                 1013.000000
mean                     80.232971                    6.685982
std                      89.499084                    7.458336
min                       0.000000                    0.000000
25%                      18.000000                    1.500000
50%                      48.000000                    4.000000
75%                     108.000000                    9.000000
max                     600.000000                   50.000000

In [30]:
dataset.dropna(subset=['Loan_Tier'], inplace=True)

In [32]:
print(dataset.columns)

Index(['Loan_SubType', 'Loan_Type', 'Requested_LoanAmount',
       'Approved_LoanAmount', 'Funded_LoanAmount', 'Loan_Status',
       'Borrower_Type', 'Applicant_State', 'Credit_Score', 'Type_ofVehicle',
       'Value_ofAsset', 'LTV_Ratio', 'Loan_Class', 'Loan_Tier', 'Loan_Term',
       'Monthly_Income', 'Monthly_debt', 'DTI_Ratio', 'Monthly_LoanPayment',
       'Age_of_Employment_in_Months', 'Age_of_Employment_in_Years'],
      dtype='object')

In [34]:
dataset['Funded_LoanAmount'].fillna(0, inplace=True)
dataset['Credit_Score'].fillna(0, inplace=True)

In [36]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dataset['Loan_SubType_Cat'] = le.fit_transform(dataset['Loan_SubType'])

In [38]:
# Repeat this step for each categorical variable
dataset['Loan_Type_Cat'] = le.fit_transform(dataset['Loan_Type'])
dataset['Loan_Status_Cat'] = le.fit_transform(dataset['Loan_Status'])
dataset['Borrower_Type_Cat'] = le.fit_transform(dataset['Borrower_Type'])
# Repeat for other categorical variables

In [40]:
dataset.to_csv('new_finance.csv', index=False)